# Ignore these files and directories when building the Docker image
.git
.gitignore
README.md
.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.idea
.vscode
uploads/*
processed/*
!uploads/.gitkeep
!processed/.gitkeep